<app-card titulo="Primeiro Componente" cor="#3D4D63">
  <app-servico></app-servico>
</app-card>
<app-card titulo="Aprofundando o conhecimento em template" cor="#B2E7E8">
  <app-segundo-componente></app-segundo-componente>
</app-card>
<app-card titulo="Pipes" cor='#BFB9AA'>
  <app-pipe-customizado></app-pipe-customizado>
</app-card>
<app-card titulo="Two-Way Data Binding" cor="#F2DO96">
  <app-two-way-data-binding></app-two-way-data-binding>
</app-card>
<app-card titulo="Renderizando-Listas" cor="#ED8975">
  <app-renderizando-listas></app-renderizando-listas>
</app-card>
<app-card titulo="Componente Personalizado (input)" cor="#FFE3DC">
  <app-componente-personalizado nome="João" sobrenome="Tabajara"></app-componente-personalizado>
</app-card>
<app-card titulo="Compartilhando dados entre componentes" cor="#A2AD91">
  <app-pai></app-pai>
  <app-filho></app-filho>
</app-card>
<app-card titulo="Serviços" cor="#3A2D32">
  <app-servico2></app-servico2>  
</app-card>
